@media screen and (min-width: 320px) and (max-width: 480px){
    


/* Heading styling */
.heading-parent-container{

    display: flex;
    margin-top: 20px;
    margin-right: 50px;
    justify-content: space-between;
    padding-left: 10px;
    margin-bottom: 20px;
}

/* 'Tasks' word styling */
.heading-styling{
    font-weight: bolder;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

/* 'Lists' word styling */
.list-style{
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    color: gray;
    width: 9px;
   
}

.addlist-style{
    margin-top: 39px;
    
}


/* grid container */

.cards-parent-container{
    display: inline-grid;
    grid-template-rows: repeat(5,65px);
    grid-template-columns: 270px ;
    grid-gap:25px 50px ;
    margin-left: 15px;
    
}
    
/* styling for all the cards */

.card1-style{
    border: 1px solid tomato;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 10px;
    justify-content: center;
    text-align: left ;
    font-family: 'Open Sans', sans-serif;
    font-size: 15.5px;
    color: black;
    box-shadow: 3px 4px 4px 3px lightgray;
    margin-bottom: 10px;
    letter-spacing: 0.1px;
    border-bottom: none;
    
}

}

